* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities  */






header {
    background-image: url("./assets_day1/img/wall.png");
}

main {
    background-image: url("./assets_day1/img/cork.png");
    align-items: center;
}